{% extends 'content/base.html' %}

{% block content %}
        <div class="promotion row">
            <div class="col-12">
                <div class="block">Реклама</div>
            </div>
        </div>
        <div class="filters row">
            <div class="col">
                <div class="block">Фильтры</div>
            </div>
        </div>
        <div class="content row">
            {% for content_elem in content %}
                <div class="col-3">
                    <div class="block">
                        <div class="media">
                            <img src="{{ content_elem.image.url }}" class="img-fluid" alt="">
                        </div>
                        <a href="{{ content_elem.get_absolute_url }}" class="">{{ content_elem.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}