
.content__sorting-button {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #FA8386;
    color: white;
    cursor: pointer;
}

.content__sorting-button:hover {
    background-color: #E85800;
}

.content__sorting-button.active {
    background-color: #E85800;
}