/*TODO: нужно разбить на отдельные файлы*/
/*Для пунктов ниже нужно настроить Webpack c SCSS*/
/*TODO: классы описывать с вложенностью по БЭМ*/
/*TODO: Выносить цвета, шрифты в переменные*/
/*TODO: Выносить повторяющиеся стили в миксины*/
@import "content/pizza-card.css";
@import "content/promotion.css";
@import "header/menu.css";
@import "account/auth-reg-styles.css";
@import "./modal-window.css";
@import "content/basket.css";
@import "content/product.css";
@import "content/content.css";


.block {
    display: flex;
    background-color: #997a8d;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.promotion {
    min-height: 200px;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.filters {
    margin-bottom: 20px;
    margin-left: 100px;
}

.footer {
    min-height: 100px;
    flex-shrink: 0;
}

.footer__link img {
    width: 100px;
	display: block;
	margin: 10px 10px 10px 10px;
}

.email {
    margin: 10px;
}

.btn-register {
    border: solid 1px;
}

.search-field {
    border: solid 1px;
}

.filter {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #FA8386;
    color: white;
    cursor: pointer;
}

.filter:hover {
    background-color: #E85800;
}

.filter.active {
    background-color: #E85800;
}

.pizza_button {
    background-color: red; /* Green */
    border: none;
    padding: 10px 24px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container__main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 155px 0px;
}


