/*TODO: нужно разбить на отдельные файлы*/
/*Для пунктов ниже нужно настроить Webpack c SCSS*/
/*TODO: классы описывать с вложенностью по БЭМ*/
/*TODO: Выносить цвета, шрифты в переменные*/
/*TODO: Выносить повторяющиеся стили в миксины*/
@import "content/pizza-card.css";
@import "header/menu.css";
@import "content/promotion.css";
.block {
    background-color: #ddd;
    height: 100%;
}

.promotion {
    min-height: 200px;
    margin-bottom: 20px;
}

.content {
    min-height: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.filters {
    margin-bottom: 20px;
    margin-left: 100px;
}

.footer {
    min-height: 200px;
    margin-bottom: 20px;
}

.btn-register {
    border: solid 1px;
}

.search-field {
    border: solid 1px;
}

.filter {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #FA8386;
    color: white;
    cursor: pointer;
}

.filter:hover {
    background-color: #E85800;
}

.filter.active {
    background-color: #E85800;
}


.pizza_button {
    background-color: red; /* Green */
    border: none;
    padding: 10px 24px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}


