<header class="header row">

    <div class="header__left col">
        <img class="header__img" src="static/icons/youtube.svg">
        <img class="header__img" src="static/icons/instagram.svg">
        <img class="header__img" src="static/icons/telegram.svg">
        <div class="header__about-us">о нас</div>
    </div>
    <div class="header__center col-auto">
        <h1 style="margin: 0px">Welcome Pizza!</h1>
    </div>
    <div class="header__right col">
        {% if request.user.is_authenticated%}
                Hello {{ request.user.first_name}},
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
    </div>
</header>