{% load static %}

<header class="header">
    <div class="container__navbar">
        <div class="header__body">
            <a href="#" class="header__logo">
                <img src="{% static 'src/img/logo.png' %}" alt="">
            </a>
            <div class="header__burger">
            </div>
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__basket-div">
                        <output class="header__product-amount">0</output>
                        <button class="header__basket-img"></button>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="" class="header__link">Мои заказы</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="header__link">Выйти</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="header__link">Войти</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="header__link">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>