*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font-family: Arial
}
.wrapper {
}
.container__navbar {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0px 10px;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #997a8d;
	opacity: 0.7;
	z-index: 3;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 150px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.header__logo img{
	max-width: 100%;
	display: block;
}
.header__burger {
	display: none;
}
.header__menu {
	margin: 0px 20px 0px 0px;
}
.header__list {
	display: flex;
	position: relative;
	margin: 0px 0px 0px 0px;
	z-index: 4;
	justify-content: center;
	align-items: center;
}
.header__list li {
	list-style: none;
	padding: 5px;
	margin: 5px;
}
.header__link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}
@media (max-width: 805px){
	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}
	.header__logo{
		flex: 0 0 150px;
	}
	.header__burger {
		margin: 0px 20px 0px 0px;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 4;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header__burger:before{
		transition: all 0.3s ease 0s;
		top: 0;
	}
	.header__burger:after{
		transition: all 0.3s ease 0s;
		bottom: 0;
	}
	.header__burger.active:before {
		transition: all 0.3s ease 0s;
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transition: all 0.3s ease 0s;
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease 0s;
		background-color: #E7DAD9;
		overflow: auto;
		padding: 70px 0px 0px 0px;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
		margin: 20px 0px 10px 0px;
	}
	.header__list li{
		margin: 10px 0px 10px 0px;
	}
	.header__link{
		font-size: 18px;
	}
}
.header__basket-div {
	position: relative;
}
.header__basket-div:hover {
	background-color: #E5EBEB;
	border-radius: 40px;
	cursor: pointer;
}
.header__basket-img {
	display: block;
	background: url("../../src/icons/test.svg") no-repeat center;
	height: 30px;
	width: 30px;
	border : none !important;
}
.header__product-amount {
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 10px;
    color: white;
    padding: 0px;
    background-color: red;
    border-radius: 100px;
    margin: 0px;
    height: 13px;
    width: 13px;
    text-align: center;
	display: none;
}
